<!DOCTYPE html>
<html dir="ltr" lang="en-US">
  <meta http-equiv="content-type" content="text/html;charset=utf-8" />
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="SemiColonWeb" />
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
  />
    <link
      href="https://fonts.googleapis.com/css?family=Poppins:300,400,400i,600,700|Open+Sans:300,400,600,700,800,900"
      rel="stylesheet"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="https://themes.semicolonweb.com/html/canvas/v5/css/bootstrap.css"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="https://themes.semicolonweb.com/html/canvas/v5/style.css"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="https://themes.semicolonweb.com/html/canvas/v5/css/dark.css"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="https://themes.semicolonweb.com/html/canvas/v5/css/swiper.css"
      type="text/css"
    />

    <link
      rel="stylesheet"
      href="https://themes.semicolonweb.com/html/canvas/v5/demos/business/business.css"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="https://themes.semicolonweb.com/html/canvas/v5/demos/business/css/fonts.css"
      type="text/css"
    />

    <link
      rel="stylesheet"
      href="https://themes.semicolonweb.com/html/canvas/v5/css/font-icons.css"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="https://themes.semicolonweb.com/html/canvas/v5/css/animate.css"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="https://themes.semicolonweb.com/html/canvas/v5/css/magnific-popup.css"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="https://themes.semicolonweb.com/html/canvas/v5/one-page/css/et-line.css"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="https://themes.semicolonweb.com/html/canvas/v5/css/responsive.css"
      type="text/css"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link
      rel="stylesheet"
      href="https://themes.semicolonweb.com/html/canvas/v5/demos/business/css/colors.css"
      type="text/css"
    />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css" integrity="sha512-17EgCFERpgZKcm0j0fEq1YCJuyAWdz9KUtv1EjVuaOz8pDnh/0nZxmU6BBXwaaxqoi9PQXnRWqlcDB027hgv9A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.css" integrity="sha512-OTcub78R3msOCtY3Tc6FzeDJ8N9qvQn1Ph49ou13xgA9VsH9+LRxoFU6EqLhW4+PKRfU+/HReXmSZXHEkpYoOA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/timeline.css">
    <style>
      .fbox-icon>a>i{
        color:black !important;
      }
    </style>
    <title>File Manager</title>
    
  </head>
  <body class="stretched">
    <div id="wrapper" class="clearfix">
        <%- include('header'); -%>

        <div class="timeline">
          <button class="next">Newer</button>
          <div class="timeline-slider">
          <div class="item">
            <div class="node"><i class="far fa-file"></i></div>
          <div class="line"></div>
          <div class="line"></div>

        </div>
        <div class="item">
            <div class="node"><i class="far fa-file"></i></div>
          <div class="line"></div>
        </div>
        <div class="item">
            <div class="node"><i class="far fa-file"></i></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
        <div class="item">
            <div class="node"><i class="far fa-file"></i></div>
          <div class="line"></div>
        </div>
        <div class="item">
          <div class="node"><i class="far fa-file"></i></div>
          <div class="line"></div>

          <div class="line"></div>
      </div>
      <div class="item">
        <div class="node"><i class="far fa-file"></i></div>
      <div class="line"></div>
    </div>

          </div>
          <button class="prev">Older</button>
   </div>
      </section>

      <footer id="footer" class="dark" style="margin-top: 64px !important;">
        <div id="copyrights">
          <div class="container clearfix">
            <div class="col_half">
              <img
                src="https://themes.semicolonweb.com/html/canvas/v5/images/footer-logo.png"
                alt=""
                class="footer-logo"
              />
              Copyrights &copy; 2023 All Rights Reserved by LOGO.
            </div>
            <div class="col_half col_last tright">
              <div class="copyrights-menu copyright-links fright clearfix">
                <a href="#">Home</a>/<a href="#">Files</a>/<a href="#"
                  >About</a
                >/<a href="#">Login</a>/<a href="#"
                  >Contact</a
                >
              </div>
              <div class="fright clearfix">
                <a
                  href="#"
                  class="social-icon si-small si-borderless nobottommargin si-facebook"
                >
                  <i class="icon-facebook"></i>
                  <i class="icon-facebook"></i>
                </a>
                <a
                  href="#"
                  class="social-icon si-small si-borderless nobottommargin si-twitter"
                >
                  <i class="icon-twitter"></i>
                  <i class="icon-twitter"></i>
                </a>
                <a
                  href="#"
                  class="social-icon si-small si-borderless nobottommargin si-gplus"
                >
                  <i class="icon-gplus"></i>
                  <i class="icon-gplus"></i>
                </a>
                <a
                  href="#"
                  class="social-icon si-small si-borderless nobottommargin si-pinterest"
                >
                  <i class="icon-pinterest"></i>
                  <i class="icon-pinterest"></i>
                </a>
                <a
                  href="#"
                  class="social-icon si-small si-borderless nobottommargin si-vimeo"
                >
                  <i class="icon-vimeo"></i>
                  <i class="icon-vimeo"></i>
                </a>
                <a
                  href="#"
                  class="social-icon si-small si-borderless nobottommargin si-github"
                >
                  <i class="icon-github"></i>
                  <i class="icon-github"></i>
                </a>
                <a
                  href="#"
                  class="social-icon si-small si-borderless nobottommargin si-yahoo"
                >
                  <i class="icon-yahoo"></i>
                  <i class="icon-yahoo"></i>
                </a>
                <a
                  href="#"
                  class="social-icon si-small si-borderless nobottommargin si-linkedin"
                >
                  <i class="icon-linkedin"></i>
                  <i class="icon-linkedin"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>

    <div id="gotoTop" class="icon-angle-up"></div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js" integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://themes.semicolonweb.com/html/canvas/v5/js/jquery.js"></script>
    <script src="https://themes.semicolonweb.com/html/canvas/v5/js/plugins.js"></script>

    <script src="https://themes.semicolonweb.com/html/canvas/v5/js/functions.js"></script>
  <!-- <script>

$('.timeline-content').popover({
        html: true,
        trigger: 'manual',
      
    }).on("mouseenter", function () {
        var _this = this;
        $(this).popover("show");
        $(this).siblings(".popover").on("mouseleave", function () {
            $(_this).popover('hide');
        });
    }).on("mouseleave", function () {
        var _this = this;
        setTimeout(function () {
            if (!$(".popover:hover").length) {
                $(_this).popover("hide")
            }
        }, 100);
    });

     
    </script>
    -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> -->
<script
      defer
      src="https://static.cloudflareinsights.com/beacon.min.js/vaafb692b2aea4879b33c060e79fe94621666317369993"
      integrity="sha512-0ahDYl866UMhKuYcW078ScMalXqtFJggm7TmlUtp0UlD4eQk0Ixfnm5ykXKvGJNFjLMoortdseTfsRT8oCfgGA=="
      data-cf-beacon='{"rayId":"796ef4a3de6a963e","token":"0627f0b8b73941069bc19139e63db853","version":"2022.11.3","si":100}'
      crossorigin="anonymous"
    ></script>
    <script>
      $(document).ready(function() {
        let prev=0
      let next = 0
      let pos= 0
      $('.prev').click(function () {
        prev+=1
        pos-=50
        // console.log(pos)
        $(".item").css('transform', 'translate('+ pos +'px, 0)')
      })
      $('.next').click(function () {
        next+=1
        pos+=50
        $(".item").css('transform', 'translate('+ pos +'px, 0)')
      })
});
    </script>
   
  </body>
</html>
